<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/imports/all/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../public/imports/all/bootstrap.min.css" id="bootstrap-css">
    <script src="../public/imports/all/bootstrap.min.js"></script>
    <script src="../public/imports/table/jquery3.6.2.js"></script> -->
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
    
    <link href="/imports/invoice/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/imports/invoice/jquery-1.11.1.min.js"></script>
    <script src="/imports/invoice/bootstrap.min.js"></script>
    <script src="/imports/all/bootstrap.min.js"></script>
    
    <title>Facture</title>
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
    </style>
    <style type="text/css" media="print">
            
        /*Hide every other element*/
        body * {
            visibility: hidden;
        }
        /*Then displaying print cointaaainer elements*/
        .print-container, .print-container * {
            visibility: visible;
        }
        /*Adjusting postion*/
        .print-container{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 95%;
            overflow: none;
        }
        
        #allcomand{
            /*width: 200px;*/
            background-color: lightblue;
            /*height: 300px;*/
            height: 95%;
            /*width: 40px;*/
            overflow-y: auto;
        }
    </style>
</head>
<body>

    
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus"></i></button> -->
                    <button type="button" class="btn btn-primary btn-sm" id="printbtn"><i class="fa fa-print"></i></button>
                </div>
                <div class="col col-5">
                    
                </div>
                <div class="col"></div>
            </div>
        <div class="print-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2>FACTURE</h2>
                        <h3 class="pull-right"># <%=allresultat[0].num_bns%></h3>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>LAZAN'I BESTILEO S.A</strong><br>
                                <strong>ISAHA FIANARANTSOA</strong><br>
                                <strong>Compte BOA Fia :</strong> 00009 0200 1900023006 87<br>
                                <strong>Compte BIN Fia :</strong> 00005 00052 27101014 83<br>
                                <strong>STAT :</strong> 151915 21 1983 0 00014<br>
                                <!-- 1234 Main<br>
                                Apt. 4B<br>
                                Springfield, ST 54321 -->
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong><u>Client</u>:</strong><span> <%=allresultat[0].nom_cli +' '+ allresultat[0].prenom_cli%></span><br>
                                <strong><u>Adresse</u>:</strong><span><%=allresultat[0].adresse%></span><br>
                                <strong><u>Fait le </u>:</strong><span><%=btnnsresult[0].date_bns.toLocaleDateString('fr-FR')%></span><br>
                                <!-- Jane Smith<br>
                                1234 Main<br>
                                Apt. 4B<br>
                                Springfield, ST 5432 -->
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <!-- <address>
                                <strong><u>Date</u>:</strong> March 7, 2014<br>
                                <strong><u>Orignie / Provenance</u> :</strong> Cave Centrale<br>
                                <strong><u>Transporteur</u> :</strong> VARIO N°4333<br>
                                <strong><u>Nom du chauffeur</u> :</strong> Mr riri<br>
                                
                            </address> -->
                        </div>
                        <div class="col-xs-6 text-right">
                            <!-- <address>
                                <strong><u>Client</u>:</strong><span> NIRINA WOA</span><br>
                                <strong><u>Adresse</u>:</strong><span>Tanambao</span><br> -->
                                <!-- Jane Smith<br>
                                1234 Main<br>
                                Apt. 4B<br>
                                Springfield, ST 5432 -->
                            </address>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Les commandes</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>DESIGNATION</strong></td>
                                            <td class="text-center"><strong>QUANTITE</strong></td>
                                            <td class="text-center"><strong>PRIX UNITAIRE</strong></td>
                                            <td class="text-center"><strong>MONTANT</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                        <% allresultat.forEach(valiny => { %>
                                            <tr>
                                                <td><%=valiny.nom_prod%></td>
                                                <td class="text-center"><%=valiny.qte_srt%></td>
                                                <td class="text-center"><%=valiny.prix%> Ar</td>
                                                <td class="text-center"><%=valiny.montant%> Ar</td>
                                            </tr>
                                        <% })%>
                                        <tr>
                                            <td class="thick-line text-center"><strong></strong></td>
                                            <td class="thick-line text-center"><strong></strong></td>
                                            <td class="thick-line text-center"><strong></strong></td>
                                            <td class="thick-line text-center"><strong><%=allresultat[0].montant_total%> AR</strong></td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="no-line text-center"><strong>Fournisseur</strong></td>
                                            <td class="no-line text-center"></td>
                                            <td class="no-line text-center"><strong>Client</strong></td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong></strong></td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
</body>
<script>
    $(document).ready(function () {
        $('#printbtn').click(function () { 
            window.print();
        });
    });
</script>
</html>