<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="../public/imports/all/font-awesome.min.css">
    <link rel="stylesheet" href="../public/imports/all/bootstrap.min.css">
    <script src="../public/imports/all/bootstrap.bundle.min.js"></script>
    <script src="../public/imports/table/jquery3.6.2.js"></script> -->
    <link rel="stylesheet" href="/imports/all/font-awesome.min.css">
    <link rel="stylesheet" href="/imports/all/bootstrap.min.css">
    <script src="/imports/all/bootstrap.bundle.min.js"></script>
    <script src="/imports/table/jquery3.6.2.js"></script>
    <!-- <style>
        .vh {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(image/img.jpg);
            background-size: center;
            background-position: center;
        }
    </style> -->
    <style>
        
        div.container div.row div.mp{
            height: 160px;
            align-items: center;
            background-color: #337bb7;
            border-radius: 5px;
            text-align: center;
        }
        div.container div.row div.mp h3{
            font-size: xx-large;
            font-weight:bold;
            padding-left: -250px;
            margin-left: -250px;
        }
        div.container div.row div.mp h4{
            font-size: large;
        }
        div.container div.row div.mp a{
            text-decoration: none;
            color: white;
            background: #2f6da3;
            background-size: 100px 80px;
        }
        div.container div.row div.mp a:hover{
            /*color: #337bb7;*/
            color: #0066ff;
            background: #cccccc;
            background-size: 100%;
            border-radius: 5px;
        }

        i.fa{
            position: absolute; 
            /*color: linear-gradient(rgba(0, 0, 0, .0), transparent);*/
            font-size: 100px;
            opacity: 0.2;
            padding-left: 50px;
            padding-top: -10px; 
            margin-top: -70px;
        }

        .col{
                width: 300px;
                height: 150px;
                /*margin: 5px;*/
                margin: 5px;
                margin-bottom: 15px;
                border-radius: 4px;
                
            }
    </style>
    <title>stock in</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="bootstrap" viewBox="0 0 118 94">
          <title>Bootstrap</title>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
        </symbol>
        <symbol id="home" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </symbol>
        <symbol id="speedometer2" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
          <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </symbol>
        <symbol id="grid" viewBox="0 0 16 16">
          <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        </symbol>
        <symbol id="collection" viewBox="0 0 16 16">
          <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
        </symbol>
        <symbol id="calendar3" viewBox="0 0 16 16">
          <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
          <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </symbol>
        <symbol id="chat-quote-fill" viewBox="0 0 16 16">
          <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
        </symbol>
        <symbol id="cpu-fill" viewBox="0 0 16 16">
          <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
          <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
        </symbol>
        <symbol id="gear-fill" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </symbol>
        <symbol id="speedometer" viewBox="0 0 16 16">
          <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
          <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
        </symbol>
        <symbol id="toggles2" viewBox="0 0 16 16">
          <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
          <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
          <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
        </symbol>
        <symbol id="tools" viewBox="0 0 16 16">
          <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </symbol>
        <symbol id="geo-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
        </symbol>
          
        <symbol  id="chart-bar"  viewBox="0 0 16 16">
            <path fill="#ffffff" stroke="#000" stroke-width="1.3333333333333333" d="M0 14.667L16 14.667M14.667 1.333L12 1.333L12 12L14.667 12L14.667 1.333ZM4 4L1.333 4L1.333 12L4 12L4 4ZM9.333 12L6.667 12L6.667 6.667L9.333 6.667L9.333 12Z"/>
        </symbol>
        <symbol  id="pie-bar"  viewBox="0 0 16 16">
            <path fill="#ffffff" stroke="#000" stroke-width="1.3333333333333333" d="M6.667 15.333C3.353 15.333 0.667 12.647 0.667 9.333C0.667 6.02 3.353 3.333 6.667 3.333L6.667 9.333C6.667 9.333 7.183 9.85 7.441 10.108L10.909 13.576C9.824 14.662 8.324 15.333 6.667 15.333ZM9.333 6.667L9.333 0.667C12.647 0.667 15.333 3.353 15.333 6.667L9.333 6.667ZM9.333 8.667L14.667 8.667C14.667 10.136 14.139 11.482 13.262 12.525L9.333 8.667Z"/>
        </symbol>
        <symbol  id="chart-bar-go"  viewBox="0 0 16 16">
            <path fill="#ffffff" d="M396.8 352h22.4c6.4 0 12.8-6.4 12.8-12.8V108.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v230.4c0 6.4 6.4 12.8 12.8 12.8zm-192 0h22.4c6.4 0 12.8-6.4 12.8-12.8V140.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v198.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h22.4c6.4 0 12.8-6.4 12.8-12.8V204.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zM496 400H48V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16zm-387.2-48h22.4c6.4 0 12.8-6.4 12.8-12.8v-70.4c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v70.4c0 6.4 6.4 12.8 12.8 12.8z"/>
        </symbol>
        <symbol  id="pie-bar-white"  viewBox="0 0 16 16">
            <g><path fill="#ffffff" d="M14.5 8.759c0 -0.138 -0.112 -0.25 -0.25 -0.25H7.5V1.75C7.5 1.612 7.388 1.5 7.25 1.5C3.252 1.5 0 4.747 0 8.739C0 12.879 3.122 16 7.261 16C11.117 16 14.5 12.616 14.5 8.759zM0.5 8.739c0 -3.633 2.893 -6.603 6.5 -6.735v6.755c0 0.138 0.112 0.25 0.25 0.241h6.745c-0.141 3.495 -3.228 6.5 -6.734 6.5C3.406 15.5 0.5 12.594 0.5 8.739z"/><path fill="#828282" d="M8.75 7.5h7C15.887 7.509 16 7.388 16 7.25C16 3.252 12.748 0 8.75 0C8.612 0 8.5 0.112 8.5 0.25v7.009C8.5 7.397 8.612 7.509 8.75 7.5zM9 0.504c3.531 0.13 6.38 2.985 6.497 6.505H9V0.504z"/></g>
        </symbol>
        <symbol  id="arrow-r"  viewBox="0 0 16 16">
            <path d="M14.46 3.258C14.392 2.364 13.704 1.608 12.742 1.54C11.368 1.402 9.443 1.333 8 1.333C6.557 1.333 4.632 1.402 3.258 1.54C2.777 1.54 2.364 1.746 2.089 2.089C1.814 2.433 1.608 2.777 1.54 3.258C1.402 4.632 1.333 6.557 1.333 8C1.333 9.443 1.471 11.368 1.54 12.742C1.608 13.636 2.296 14.392 3.258 14.46C4.632 14.598 6.557 14.667 8 14.667C9.443 14.667 11.368 14.529 12.742 14.46C13.636 14.392 14.392 13.704 14.46 12.742C14.598 11.368 14.667 9.443 14.667 8C14.667 6.557 14.598 4.632 14.46 3.258ZM9.924 8.825L7.656 11.093C7.519 11.162 7.45 11.23 7.313 11.23C7.175 11.23 7.038 11.162 6.969 11.093C6.763 10.887 6.763 10.543 6.969 10.337L9.237 8.069C9.306 8 9.306 7.863 9.237 7.794L6.969 5.526C6.763 5.32 6.763 4.976 6.969 4.77C7.175 4.564 7.519 4.564 7.725 4.77L9.993 7.038C10.405 7.588 10.405 8.344 9.924 8.825Z" fill="#030D45"/>
        </symbol>
          
        <symbol  id="music-a"  viewBox="0 0 16 16">
            <path fill="none" stroke="#000" stroke-width="3.3333333333333335" d="M1.667 29.997C1.667 28.157 3.145 26.667 4.997 26.667L15 26.667L15 33.337C15 35.176 13.522 36.667 11.67 36.667L4.997 36.667C3.158 36.667 1.667 35.17 1.667 33.337L1.667 29.997ZM25 29.997C25 28.157 26.478 26.667 28.33 26.667L38.333 26.667L38.333 33.337C38.333 35.176 36.855 36.667 35.003 36.667L28.33 36.667C26.491 36.667 25 35.17 25 33.337L25 29.997ZM15 26.667L15 3.333L38.333 3.333L38.333 25.833M15 10L38.333 10"/>
        </symbol>
        <symbol  id="music-circle"  viewBox="0 0 16 16">
            <path d="M24 44C35.046 44 44 35.046 44 24C44 12.954 35.046 4 24 4C12.954 4 4 12.954 4 24C4 35.046 12.954 44 24 44Z" stroke="black" stroke-width="4"/><path d="M26 14V28" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 28.666C14 26.641 15.934 25 18.32 25H26V29.334C26 31.359 24.066 33 21.68 33H18.32C15.934 33 14 31.359 14 29.334V28.666Z" fill="#2F88FF" stroke="black" stroke-width="4" stroke-linejoin="round"/><path d="M32 15L26 14" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>
        <symbol  id="music-app"  viewBox="0 0 118 94">
            <path fill="#ffffff" d="M119.982 30.627c0 -3.69 -0.312 -7.365 -1.194 -10.959 -1.581 -6.543 -5.313 -11.541 -10.899 -15.213 -2.874 -1.875 -6.033 -3.027 -9.393 -3.633 -2.58 -0.468 -5.193 -0.681 -7.812 -0.741 -0.195 -0.018 -0.408 -0.06 -0.627 -0.078h-60.117c-0.762 0.06 -1.524 0.099 -2.283 0.135 -3.732 0.213 -7.44 0.603 -10.959 2.01 -6.678 2.637 -11.505 7.245 -14.316 13.887 -0.975 2.247 -1.467 4.626 -1.815 7.05 -0.294 1.953 -0.45 3.927 -0.507 5.898 0 0.159 -0.039 0.312 -0.039 0.468v61.113c0.039 0.705 0.078 1.407 0.117 2.112 0.255 4.083 0.78 8.127 2.502 11.877 3.243 7.092 8.691 11.757 16.173 14.004 2.088 0.645 4.278 0.939 6.465 1.134 2.775 0.273 5.547 0.312 8.322 0.312h55.155c2.616 0 5.235 -0.177 7.851 -0.507 4.122 -0.528 7.986 -1.74 11.487 -4.044 4.2 -2.775 7.365 -6.447 9.393 -11.037 0.939 -2.112 1.467 -4.353 1.857 -6.624 0.567 -3.378 0.681 -6.798 0.681 -10.215 -0.018 -18.987 0 -37.968 -0.018 -56.955zM87.87 50.565v28.557c0 2.088 -0.294 4.14 -1.23 6.033 -1.443 2.949 -3.786 4.803 -6.933 5.703 -1.74 0.507 -3.537 0.78 -5.352 0.858 -4.749 0.237 -8.868 -2.988 -9.708 -7.677 -0.723 -3.867 1.134 -8.127 5.193 -10.119 1.602 -0.78 3.342 -1.248 5.079 -1.602 1.893 -0.408 3.786 -0.78 5.661 -1.212 1.389 -0.312 2.283 -1.152 2.559 -2.58 0.078 -0.312 0.099 -0.645 0.099 -0.957 0 -9.084 0 -18.165 0 -27.225 0 -0.312 -0.06 -0.627 -0.135 -0.918 -0.195 -0.762 -0.741 -1.212 -1.524 -1.173 -0.804 0.039 -1.581 0.177 -2.361 0.333 -3.81 0.741 -7.617 1.503 -11.406 2.283l-18.495 3.732c-0.078 0.018 -0.177 0.06 -0.255 0.06 -1.389 0.39 -1.875 1.017 -1.935 2.46 -0.018 0.213 0 0.432 0 0.645 -0.018 13.008 0 26.016 -0.018 39.024 0 2.112 -0.237 4.182 -1.071 6.132 -1.389 3.201 -3.846 5.217 -7.167 6.174 -1.758 0.507 -3.555 0.804 -5.391 0.858 -4.785 0.177 -8.772 -3.006 -9.588 -7.713 -0.705 -4.062 1.152 -8.439 5.76 -10.392 1.797 -0.741 3.654 -1.152 5.547 -1.542 1.425 -0.294 2.874 -0.585 4.296 -0.879 1.911 -0.408 2.91 -1.62 3.006 -3.573v-0.741c0 -14.805 0 -29.61 0 -44.415 0 -0.627 0.078 -1.248 0.213 -1.857 0.351 -1.425 1.368 -2.247 2.733 -2.58 1.272 -0.333 2.58 -0.567 3.867 -0.84 3.672 -0.741 7.323 -1.485 10.995 -2.208l11.346 -2.307c3.36 -0.663 6.696 -1.347 10.059 -2.01 1.095 -0.213 2.208 -0.45 3.318 -0.528 1.542 -0.135 2.616 0.84 2.775 2.403 0.039 0.372 0.06 0.741 0.06 1.113 0 9.552 0 19.104 0 28.653z"/>
        </symbol>
        <symbol  id="music-b"  viewBox="0 0 118 94">
            <path fill="#ffffff" d="M110.245 0.354L35.252 22.5A7.5 7.5 0 0 0 30 29.651v61.268A32.578 32.578 0 0 0 22.5 90c-12.422 0 -22.5 6.717 -22.5 15s10.078 15 22.5 15 22.5 -6.717 22.5 -15V50.231l60 -17.578v43.268a32.438 32.438 0 0 0 -7.5 -0.921c-12.422 0 -22.5 6.717 -22.5 15s10.078 15 22.5 15 22.5 -6.715 22.5 -15V7.5a7.5 7.5 0 0 0 -9.755 -7.146z"/>
        </symbol>
        <symbol  id="music-able"  viewBox="0 0 118 94">
            <title>music-able</title>
            <path fill="#ffffff" d="M99.984 25.522c0 -3.075 -0.259 -6.138 -0.994 -9.131 -1.319 -5.453 -4.428 -9.619 -9.081 -12.678 -2.394 -1.563 -5.028 -2.522 -7.828 -3.028 -2.15 -0.391 -4.328 -0.569 -6.509 -0.619 -0.163 -0.016 -0.341 -0.05 -0.522 -0.066h-50.097c-0.634 0.05 -1.269 0.081 -1.903 0.112 -3.109 0.178 -6.2 0.503 -9.131 1.675 -5.566 2.197 -9.588 6.037 -11.931 11.572 -0.813 1.872 -1.222 3.856 -1.512 5.875 -0.244 1.628 -0.375 3.272 -0.422 4.916 0 0.131 -0.031 0.259 -0.031 0.391v50.928c0.031 0.588 0.066 1.172 0.097 1.759 0.213 3.403 0.65 6.772 2.084 9.897 2.703 5.909 7.244 9.797 13.478 11.669 1.741 0.537 3.566 0.781 5.388 0.944 2.313 0.228 4.622 0.259 6.934 0.259h45.962c2.181 0 4.362 -0.147 6.544 -0.422 3.434 -0.441 6.656 -1.45 9.572 -3.369 3.5 -2.313 6.138 -5.372 7.828 -9.197 0.781 -1.759 1.222 -3.628 1.547 -5.519 0.472 -2.816 0.569 -5.666 0.569 -8.513 -0.016 -15.822 0 -31.641 -0.016 -47.462zM73.225 42.138v23.797c0 1.741 -0.244 3.45 -1.025 5.028 -1.203 2.456 -3.156 4.003 -5.778 4.753 -1.45 0.422 -2.947 0.65 -4.459 0.716 -3.956 0.197 -7.391 -2.491 -8.091 -6.397 -0.603 -3.222 0.944 -6.772 4.328 -8.431 1.334 -0.65 2.784 -1.041 4.231 -1.334 1.578 -0.341 3.156 -0.65 4.719 -1.009 1.156 -0.259 1.903 -0.959 2.131 -2.15 0.066 -0.259 0.081 -0.537 0.081 -0.797 0 -7.569 0 -15.138 0 -22.688 0 -0.259 -0.05 -0.522 -0.112 -0.766 -0.163 -0.634 -0.619 -1.009 -1.269 -0.978 -0.669 0.031 -1.319 0.147 -1.969 0.278 -3.175 0.619 -6.347 1.253 -9.506 1.903l-15.413 3.109c-0.066 0.016 -0.147 0.05 -0.213 0.05 -1.156 0.325 -1.563 0.847 -1.613 2.05 -0.016 0.178 0 0.359 0 0.537 -0.016 10.841 0 21.681 -0.016 32.519 0 1.759 -0.197 3.484 -0.894 5.109 -1.156 2.669 -3.206 4.347 -5.972 5.144 -1.466 0.422 -2.962 0.669 -4.494 0.716 -3.988 0.147 -7.309 -2.506 -7.991 -6.428 -0.588 -3.384 0.959 -7.031 4.8 -8.659 1.497 -0.619 3.044 -0.959 4.622 -1.284 1.188 -0.244 2.394 -0.487 3.581 -0.731 1.594 -0.341 2.425 -1.35 2.506 -2.978v-0.619c0 -12.338 0 -24.675 0 -37.012 0 -0.522 0.066 -1.041 0.178 -1.547 0.294 -1.188 1.141 -1.872 2.278 -2.15 1.059 -0.278 2.15 -0.472 3.222 -0.7 3.059 -0.619 6.103 -1.238 9.162 -1.841l9.456 -1.922c2.8 -0.553 5.581 -1.122 8.381 -1.675 0.912 -0.178 1.841 -0.375 2.766 -0.441 1.284 -0.112 2.181 0.7 2.313 2.003 0.031 0.309 0.05 0.619 0.05 0.928 0 7.959 0 15.919 0 23.878z"/>
        </symbol>
        <symbol  id="music-appbi"  viewBox="0 0 118 94">
            <title>music-able</title>
            <path fill="#ffffff" d="M93.985 23.991c0 -2.89 -0.243 -5.77 -0.934 -8.583 -1.24 -5.126 -4.162 -9.042 -8.536 -11.917 -2.25 -1.469 -4.726 -2.371 -7.358 -2.846 -2.021 -0.368 -4.068 -0.535 -6.118 -0.582 -0.153 -0.015 -0.321 -0.047 -0.491 -0.062h-47.091c-0.596 0.047 -1.193 0.076 -1.789 0.105 -2.922 0.167 -5.828 0.473 -8.583 1.575 -5.232 2.065 -9.013 5.675 -11.215 10.878 -0.764 1.76 -1.149 3.625 -1.421 5.522 -0.229 1.53 -0.352 3.076 -0.397 4.621 0 0.123 -0.029 0.243 -0.029 0.368v47.872c0.029 0.553 0.062 1.102 0.091 1.653 0.2 3.199 0.611 6.366 1.959 9.303 2.541 5.554 6.809 9.209 12.669 10.969 1.637 0.505 3.352 0.734 5.065 0.887 2.174 0.214 4.345 0.243 6.518 0.243h43.204c2.05 0 4.1 -0.138 6.151 -0.397 3.228 -0.415 6.257 -1.363 8.998 -3.167 3.29 -2.174 5.77 -5.05 7.358 -8.645 0.734 -1.653 1.149 -3.41 1.454 -5.188 0.444 -2.647 0.535 -5.326 0.535 -8.002 -0.015 -14.873 0 -29.743 -0.015 -44.614zM68.831 39.61v22.369c0 1.637 -0.229 3.243 -0.963 4.726 -1.131 2.309 -2.967 3.763 -5.431 4.468 -1.363 0.397 -2.77 0.611 -4.191 0.673 -3.719 0.185 -6.948 -2.342 -7.606 -6.013 -0.567 -3.029 0.887 -6.366 4.068 -7.925 1.254 -0.611 2.617 -0.979 3.977 -1.254 1.483 -0.321 2.967 -0.611 4.436 -0.948 1.087 -0.243 1.789 -0.901 2.003 -2.021 0.062 -0.243 0.076 -0.505 0.076 -0.749 0 -7.115 0 -14.23 0 -21.327 0 -0.243 -0.047 -0.491 -0.105 -0.72 -0.153 -0.596 -0.582 -0.948 -1.193 -0.919 -0.629 0.029 -1.24 0.138 -1.851 0.261 -2.984 0.582 -5.966 1.178 -8.936 1.789l-14.488 2.922c-0.062 0.015 -0.138 0.047 -0.2 0.047 -1.087 0.305 -1.469 0.796 -1.516 1.927 -0.015 0.167 0 0.337 0 0.505 -0.015 10.191 0 20.38 -0.015 30.568 0 1.653 -0.185 3.275 -0.84 4.802 -1.087 2.509 -3.014 4.086 -5.614 4.835 -1.378 0.397 -2.784 0.629 -4.224 0.673 -3.749 0.138 -6.87 -2.356 -7.512 -6.042 -0.553 -3.181 0.901 -6.609 4.512 -8.139 1.407 -0.582 2.861 -0.901 4.345 -1.207 1.117 -0.229 2.25 -0.458 3.366 -0.687 1.498 -0.321 2.279 -1.269 2.356 -2.799v-0.582c0 -11.598 0 -23.194 0 -34.791 0 -0.491 0.062 -0.979 0.167 -1.454 0.276 -1.117 1.073 -1.76 2.141 -2.021 0.995 -0.261 2.021 -0.444 3.029 -0.658 2.875 -0.582 5.737 -1.164 8.612 -1.731l8.889 -1.807c2.632 -0.52 5.246 -1.055 7.878 -1.575 0.857 -0.167 1.731 -0.352 2.6 -0.415 1.207 -0.105 2.05 0.658 2.174 1.883 0.029 0.29 0.047 0.582 0.047 0.872 0 7.481 0 14.964 0 22.445z"/>
        </symbol>
          
          
          <symbol id="successico" fill="currentColor" viewBox="0 0 16 16"><!--success-info-->
              <path  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="infoico" fill="currentColor" viewBox="0 0 16 16"> <!--alert-info-->
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="erreurico" fill="currentColor" viewBox="0 0 16 16"><!--erreur-->
              <path  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
      </svg>
  
		<%- include('./partials/navbar')%>
        <div class="container-fluid">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 100;">
                <!--code in the right side-->
                <!-- cliresultat, proresultat, bneresultat, bnsresultat, prresultat, -->
                <center><h1>Acceuil</h1></center>
                <div class="container container-md p-4 my-4 text-center">
                    <div class="row">
                        <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3><%=proresultat[0].produits%></h3><br> <h4>Tous les produits</h4>
                                    <i class='fa fa-music'></i> <hr>
                                    <a href="/produits" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3><%=cliresultat[0].clients%></h3><br> <h4>Tous les client</h4>
                                    <i class='fa fa-user'></i> <hr>
                                    <a href="/clients" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3><%=prresultat[0].qte%></h3><br> <h4>Tous les produits dans le stock</h4>
                                    <i class='fa fa-cart-plus'></i> <hr>
                                    <a href="/produits" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                    <!--<span class='glyphicon glyphicon-triangle-right'></span> <a href='items.php'>Voir Details</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3><%=bneresultat[0].bn_entrer%></h3><br> <h4>Tous les produits entrer</h4>
                                    <i class='fa fa-glass'></i> <hr>
                                    <a href="/bons" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3><%=bnsresultat[0].bn_sortir%></h3><br> <h4>Tous les produit sortir</h4>
                                    <i class='fa fa-glass'></i> <hr>
                                    <a href="/bons" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col bg-danger">
                            <div class="row">
                                <div class='mp'><h3>3</h3><br> <h4>Tous les produit</h4>
                                    <i class='fa fa-glass'></i> <hr>
                                    <a href="#" class="nav-link text-white">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#arrow-r"/></svg>
                                        Voir Details
                                    </a>
                                    < !--<span class='glyphicon glyphicon-triangle-right'></span> <a href='items.php'>Voir Details</a>- ->
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
</body>
<script src="/imports/all/jquery.js"></script>
<script src="/imports/js/script.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#mySearchBtn').attr('disabled', 'true');
    });
</script>

</html>